@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 125 44% 95%;
    --foreground: 224 71% 4%;
    --card: 125 44% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 125 44% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 135 53% 42%;
    --primary-foreground: 355 100% 97%;
    --secondary: 135 20% 90%;
    --secondary-foreground: 135 53% 22%;
    --muted: 135 20% 90%;
    --muted-foreground: 135 20% 50%;
    --accent: 25 80% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 20% 85%;
    --input: 135 20% 88%;
    --ring: 135 53% 42%;
    --chart-1: 135 53% 42%;
    --chart-2: 25 80% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 20 14% 4%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 135 53% 42%;
    --primary-foreground: 355 100% 97%;
    --secondary: 135 20% 15%;
    --secondary-foreground: 60 9% 98%;
    --muted: 135 20% 15%;
    --muted-foreground: 135 20% 60%;
    --accent: 25 80% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 20% 15%;
    --input: 135 20% 18%;
    --ring: 135 53% 42%;
    --chart-1: 135 53% 42%;
    --chart-2: 25 80% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
